

<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" >

            <div class="title">SIGN IN</div>
            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    
                <mat-label class="secondary-text">Email</mat-label>
                <mat-form-field appearance="none">
                    <input type="email" matInput formControlName="email" placeholder="Email.doxa@gmail.com" >

                    <img class="images" src="assets/icons/Messages.svg" alt="" fxHide.gt-xs>

                    <!-- <div  *ngIf="loginForm.get('email').hasError('required') && loginForm.controls.email.touched">
                        <app-alert>
                            <p>Email is required.</p>
                        </app-alert>
                    </div> -->
                    <!-- <div *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email') && loginForm.controls.email.touched">
                        <app-alert>
                            <p>Please enter a valid email address.</p>
                        </app-alert>
                    </div> -->
                </mat-form-field>

                <mat-label class="secondary-text">Password</mat-label>
                <mat-form-field appearance="none">
                    <input matInput type="password" formControlName="password" placeholder="********" autocomplete="off">
                    <img class="images" src="assets/icons/Lock.svg" alt="" fxHide.gt-xs>
                    <!-- <div *ngIf="loginForm.get('password').hasError('required') && loginForm.controls.password.touched ">
                        <app-alert>
                            <p>Password is required.</p>
                        </app-alert>
                    </div>
                    <div *ngIf="!loginForm.get('password').hasError('required') && loginForm.controls.password.touched && loginForm.get('password').errors?.pattern">
                        <app-alert>
                            <p>Password is at least 8 character.</p>
                        </app-alert>
                    </div> -->
                </mat-form-field>

                <div class="forgot-password" fxLayout="row" fxLayoutAlign="space-between center">
                    <a class="forgot-password-text" [routerLink]="'/forgotpassword'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    SIGN IN
                </button>
                <br>
                <div class="text-center">
                    <span>Or Sign Up Using</span>
                </div>
                <br>

                <div  class="social_container">
                    <div  class="social_container__outer">
                        <img src="assets/icons/facebook_logo.png" alt="facebook-icon" class="social_container__inner">
                    </div>

                    <div  class="social_container__outer">
                        <img src="assets/icons/google_logo.svg" alt="facebook-icon"  class="social_container__inner">
                    </div>
                </div>


                <!-- <div *ngIf="loginAlert && (loginForm.controls.email.pristine && loginForm.controls.password.pristine)">
                    <app-alert>
                        <p>Username or Password is incorrect.</p>
                    </app-alert>
                </div> -->
            </form>
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account ? <a class="link" [routerLink]="'/register'">&nbsp; Sign Up</a></span>
            </div>
        </div>
        <h2 class="FormFooter">Powered by THL</h2>
    </div>

</div>
