
@import "app/core/scss/core.scss";

@font-face 
{
    font-family : Poppins-Regular;
    src         : url('assets/fonts/poppins/Poppins-Regular.ttf'); 
}
  
@font-face 
{
    font-family : Poppins-Medium;
    src         : url('assets/fonts/poppins/Poppins-Medium.ttf'); 
}
  
@font-face 
{
    font-family : Poppins-Bold;
    src         : url('assets/fonts/poppins/Poppins-Bold.ttf'); 
}
  
@font-face 
{
    font-family : Poppins-SemiBold;
    src         : url('assets/fonts/poppins/Poppins-SemiBold.ttf'); 
}
  
body
{
    font-family : Poppins-Regular, 'Open Sans', sans-serif;
    font-weight : Regular - Semibold - Bold;
}

:root 
{

    //COLOR
    --primary-color             : #7da863;
    --form-background           : #eeeeee;
    --text-color                : #5a616f;
    --placeholder-color         : #d4d4d4;
    --input-color               : #3a3a3a;
    --link-color                : #0a73eb;
    --red-color                 : #de3535;
    --border-color              : #707070;
    --yellow-background         : #f8f6b2;
    --descrp-background         : #f3f3f3;
    --button-disable-background : gray;
    --form-background           : #f5f5f5;
    --input-border              : #e1e1e1;
  

    //FONT SIZE
    --title-text    : 32px;
    --primary-text  : 14px;
    --small-text    : 12px;
    --button-text   : 12px;
    --input-text    : 14px;
    --checkbox      : 12px;
    --label-input   : 12px;
    --label-cart    : 14px;
    --back-label    : 14px;
    --header-page   : 16px;
    --ag-grid-text  : 14px;
  }

  




